.color-green {
    color: #A5C8B4;
}

.color-orange {
    color: #e6a587
}

.left {
    text-align: left
}

.right {
    text-align: right
}

.col3 {
    width: calc(100% / 3);
    display: inline-block;
    vertical-align: top;
    padding: 0 2rem;
    margin-top: 4rem
}

.col4 {
    width: calc(100% / 4);
    display: inline-block;
    vertical-align: middle;
    margin-top: 4rem
}

.visitor .button2 {
    width: auto;
    color: #A5C8B4;
    font-size: 28px;
    padding: 20px 70px
}

.visitor .button2:hover {
    background-color: #FFFCFA;
    color: #e6a587
}

.bold {
    font-weight: 600
}

.maxWidth {
    max-width: 1300px;
    width: calc(100% - 80px);
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.typo5 {
    font-size: 36px;
    margin-top: 100px;
}

.visitor .button1 {
    font-size: 28px;
    padding: 20px 70px;
}

.pattern-landing:after {
    content: '';
    background-image: linear-gradient(to bottom, rgba(255, 252, 250, 0), #fffcfa);
    width: 100%;
    position: absolute;
    top: 0;
    height: 50rem;
}

.pattern-landing {
    position: relative;
}

.pattern-landing>* {
    position: relative;
    z-index: 1;
}

.pattern-landing::before {
    position: absolute;
    background: url('../images/gridbg.png') repeat;
    background-size: 450px;
    background-position: left -32px;
    content: '';
    width: 100%;
    height: 50rem;
    top: 0;
    left: 0;
}

.visitor section {
    position: relative;
}

/* MENU */

header.visitor {
    background-color: #FFFCFA;
}

.visitor a.typo3 {
    color: #373737;
    padding: 51px 30px;
}

.visitor a.landing-login {
    margin: 3rem 0;
    margin-left: 3rem;
    color: #FFFCFA;
    padding: 2rem 3rem;
    font-size: 1.8rem
}

.visitor .header-menu a.active,
.visitor .header-menu a:not(.no-hover):hover {
    background-color: rgba(165, 200, 180, 0.15);
}

.visitor .header-menu a:not(.no-hover)::after,
footer {
    background-color: #A5C8B4;
}

footer {
    padding: 3rem 0
}

footer .typo2 {
    color: #fffcfa
}

/* SECTIONS */

section.visitor,
.h100\% {
    height: 99%;
}

section.visitor {
    width: 100%;
    max-width: none;
}

/* BLOCK 01 */

.block01::before,
.block01::after {
    content: '';
    background-color: #fffcfa;
    bottom: 0;
    width: calc(50% - 9.8rem);
    height: 3.5rem;
    position: absolute;
    z-index: 3;
}

.block01 img {
    position: absolute;
    max-width: 60%;
    max-height: 100%;
    bottom: 0;
    right: 0;
}

.block01 svg {
    position: absolute;
    bottom: 0;
    width: 20rem;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    height: 35px;
    fill: #fffcfa;
}

.block01::before {
    left: 0;
}

.block01::after {
    right: 0;
}

.block01 {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    flex-direction: column;
    background-color: #A5C8B4;
    position: relative;
}

.block01 .typo1,
.block01 .typo2 {
    color: #fffcfa;
}

.block01 .typo2 {
    font-size: 2.8rem;
    margin-top: 3.5rem;
}

.txtArea {
    max-width: 600px;
}

/* BLOCK 02 */

.block02 {
    padding-bottom: 5rem;
    text-align: center
}

.block02 img {
    width: 100%;
    max-width: 250px;
}

.col3 p {
    margin-top: 3rem
}

.visitor .half {
    display: inline-block;
}

.block03 {
    background-color: #f7f4f1;
    overflow: hidden;
}

.block03 video {
    position: absolute;
    top: 50%;
    left: -52%;
    width: 180%;
    transform: translateY(-50%);
    max-height: 140%;
}

.landing-padding {
    padding: 120px 0
}

.landing-padding-bottom {
    padding-bottom: 120px
}

.block04 img {
    max-width: 200px;
    max-height: 100px;
    width: 80%
}

.visitor .actu {
    padding: 6rem 12rem;
    background-color: #fffcfa;
    margin: 6rem auto;
    max-width: 1000px;
    position: relative;
    z-index: 10;
}

.actu img {
    margin-bottom: 50px
}

.block04 .confetti {
    position: absolute;
    width: auto;
    max-width: 100%;
    max-height: none;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

/* MOBILE */

@media screen and (max-width:750px) {
    .col3 {
        width: 100%
    }
    .block01 .typo2,
    .visitor .button2,
    .visitor .button1,
    .typo5 {
        font-size: 2rem
    }
    .block01 img {
        height: 100%;
        max-width: none;
        opacity: .2;
        right: 50%;
        transform: translateX(50%);
    }
    .block03 video {
        position: relative;
        top: 0;
        transform: translate(0);
        width: 300%;
        margin-top: -40%;
        left: -70%;
        margin-bottom: -30%;
    }
    .visitor .half {
        width: 100%;
    }
    .landing-padding {
        padding: 60px 0
    }
    .col4 {
        width: 50%;
    }
    .visitor .actu {
        padding: 2rem;
        padding-top: 4rem
    }
    .visitor .button1 {
        padding: 20px 15px;
    }
    .topbar.no-desktop.visitor {
        display: flex;
        top: 0;
        align-items: center;
        justify-content: space-between;
        padding: 0 40px
    }
    .topbar.no-desktop.visitor .header-menu a {
        color: #fffcfa;
        font-weight: 600;
        padding: 0 2rem;
    }
    .topbar.no-desktop.visitor img {
        height: 28px;
        width: auto;
        margin: 1rem;
    }
    #menu_toggle {
        position: fixed;
        width: 30px;
        height: 31px;
        z-index: 101;
        right: 20px;
        top: 20px;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }
    #menu_toggle .toggle::before,
    #menu_toggle .toggle::after {
        background: #A5C8B4;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
    }
    #menu_toggle .toggle {
        width: 20px;
        height: 15px;
        display: block;
        position: absolute;
        right: 5px;
        top: 8px;
    }
    #menu_toggle .toggle::after {
        bottom: 0;
    }
    #menu_toggle.menuOpen .toggle::before {
        transform: rotate(45deg);
        top: 6px;
    }
    #menu_toggle.menuOpen .toggle::before,
    #menu_toggle.menuOpen .toggle::after {
        background-color: #373737;
    }
    #menu_toggle.menuOpen .toggle::after {
        transform: rotate(-45deg);
        bottom: 5px;
    }
    #nav_m .header-menu a:not(.no-hover) {
        color: #373737;
        font-weight: 700
    }
    #nav_m {
        text-align: center;
        position: fixed;
        top: 0;
        left: 0%;
        width: 100%;
        height: 100%;
        overflow: auto;
        background: #fff;
        color: #000;
        z-index: 100;
        display: none;
        opacity: 0;
    }
#nav_m .header-menu{
    display: flex;
    overflow: hidden;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
}

