/* Reset CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time,
mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline; box-sizing: border-box;}


/* Reset pour les vieux navigateurs */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}


@font-face {
    font-family: "Gabriel";
    src: url("../webfonts/gabriel-sans-medium.ttf") format("truetype"),
        url("../webfonts/gabriel-sans-medium.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Gabriel";
    src: url("../webfonts/gabriel-sans-bold.ttf") format("truetype"),
        url("../webfonts/gabriel-sans-bold.woff") format("woff");
    font-weight: 600;
}

@font-face {
    font-family: "Gabriel";
    src: url("../webfonts/gabriel-sans-black.ttf") format("truetype"),
        url("../webfonts/gabriel-sans-black.woff") format("woff");
    font-weight: 800;
}

@font-face {
    font-family: "Gabriel";
    src: url("../webfonts/gabriel-sans-light.ttf") format("truetype"),
        url("../webfonts/gabriel-sans-light.woff") format("woff");
    font-weight: 300;
}

@font-face {
    font-family: "Karmilla";
    src: url("../webfonts/karmilla.ttf") format("truetype"),
        url("../webfonts/karmilla.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "Karmilla";
    src: url("../webfonts/karmilla-bold.ttf") format("truetype"),
        url("../webfonts/karmilla-bold.woff") format("woff");
    font-weight: bold;
}

html {
    font-size: 10px;
}

html,
body,
.full-height {
    height: 100%;
}

body {
    font-size: 1.5rem;
    font-family: 'Gabriel', Arial, sans-serif;
    background: #FFFCFA;
    color: #373737;
}

.relative {
    position: relative;
}

.z-index-2 {
    position: relative;
    z-index: 2;
}

.v-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.margin-top-10 {
    margin-top:10px
}

.margin-top-20 {
    margin-top:20px
}

.error {
    color: red;
}

.success {
    color: green;
}

.logo {
    position: absolute;
    top: 18px;
    left: 0;
    width: 120px;
}

.logo img {
    width: 100%;
}

.loader {
    position:absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    display: block;
    border: 4px solid #eae7e7;
    border-radius: 50%;
    border-top-color:#f99c02;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 0.8s linear infinite;
    animation: spin 0.8s linear infinite;
    background: whitesmoke;
    z-index:3;
    margin: auto;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.grid {
    position: fixed;
    top: 0;
    left: 20px;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 40px);
    height: 100%;
    pointer-events: none;
}

.gridline {
    width: 1px;
    height: 100%;
    background: cyan;
}

iframe {
    width: 100%;
    margin-top: 30px;
}

p + p {
    margin-top: 20px;
}

.center {
    text-align: center;
}

.page-title {
    font-weight: 300;
    font-size: 3rem;
    text-align: center;
    color: #292929;
    margin-bottom: 20px;
}

h2 {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 30px;
}

.middle{
    display: inline-block;
    vertical-align: middle;
}

.round-btn {
    display: inline-block;
    vertical-align: top;
    background: rgba(255, 252, 250, 0.25);
    border-radius: 50%;
    width: 14px;
    height: 14px;
    text-align: center;
    line-height: 12px;
    font-style: normal;
    text-decoration: none;
    color: white;
    margin-left: 4px;
}

.typo1 {
    font-family: Gabriel;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 0.1px;
    color: #373737;
  }

.typo2 {
    font-family: Karmilla;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.9;
    letter-spacing: 0.2px;
    color: #373737;
}

.typo3 {
    font-family: Karmilla;
    font-size: 1.8rem;
    letter-spacing: 0.1px;
    font-weight: normal;
}

.typo4 {
    font-family: Gabriel;
    font-size: 32px;
    font-weight: 600;
    line-height: 0.84;
    letter-spacing: 0.2px;
    text-align: center;
    color: #fffcfa;
    margin-bottom: 35px;
}

.button1 {
    display: inline-block;
    padding: 15px 22px;
    border-radius: 10px;
    background-color: #a5c8b4;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.13);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Karmilla;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.2px;

    margin-top: 30px;
}

.button2 {
    display: inline-block;
    padding: 15px 22px;
    border-radius: 10px;
    background-color: #fffcfa;
    color: #e6a587;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Karmilla;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.2px;

    margin-top: 30px;
    width: 100%;
    text-align: center;
}

.underlink {
    position: relative;
    font-weight: bold;
    text-decoration: none;
    color: #373737;
}

.underlink:before {
    content: "";
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background: #373737;
    opacity: 0.15;
    
}

strong {
    font-weight: bold;
}


.flex {
    display: flex;
    justify-content: space-between;
}

.half {
    position: relative;
    width: 50%;
    font-size: 1.5rem;
}

.boxed-wrapper {
    position: relative;
    width: 100%;
    max-width: 1300px;
    margin: auto;
}


.options-label {
    display: block;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
}

.options-label .required {
    color: #c50a0a;
    font-size: 1.3rem;
    font-family: sans-serif;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}

.options-input,
.options-textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 25px;
    outline: none;
}

.options-textarea {
    height: 80px;
}


/* PAGE PROFIL */

.js-open-chat {
    width: 100px;
    background: none;
    border: none;
    color: white;
    position: fixed;
    bottom: 80px;
    right: 20px;
    transition: all ease 0.8s, font-size linear 0s 0.8s;
    outline: none;
    z-index: 10;
}

.js-open-chat img {
    width: 100%;
}

.js-open-chat.active {
    transform: scale(40);
    font-size: 0;
    opacity: 0.90;
    transition: all ease 0.8s, font-size linear 0s;
}

.modal-chat {
    display: none;
    z-index: 11;
    position: absolute;
    top: 80px;
    left: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 80px - 58px);
    padding: 0 20px 20px;
    animation: appear-chat ease 0.5s;
}

.chat-messages {
    height: calc(100% - 220px);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.chat-message {
    opacity: 0;
    position: relative;
    top: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    background: white;
    padding: 15px;
    transition: all ease 0.8s;
    width: calc(100% - 30px);
}

.chat-message.me {
    margin-left: 30px;
}

.team-form {
    opacity: 0;
    position: absolute;
    bottom: -10px;
    width: calc(100% - 40px);
}

.chat-message.visible {
    opacity: 1;
    top: 0;
    transition: all ease 0.7s;
}

.team-form.visible {
    opacity: 1;
    bottom: 20px;
    transition: all ease 0.8s;
}

.js-open-chat.active + .modal-chat {
    display: block;
}

.chat-close {
    position: absolute;
    right: 0;
    top: 0;
    background: white;
    border: none;
    border-radius: 5px;
    line-height: 25px;
    font-weight: bold;
}

.profile-header {
    position: relative;
    left: -40px;
    width: calc(100% + 80px);
    font-size: 0;
}

.profile-header:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #373737;
    opacity: 0.7;
}

.profile-header img {
    width: 100%;
}

.profile-header h1 {
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.avatar {
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: -75px auto 20px;
    z-index: 2;
}

.edit-profile {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 0;
    border: none;
    background: none;
    z-index: 2;
}

.content-page {
    padding-top: 74px; /* sticky menu */
}


/* TEAM  */
.team-header {
    background: #A5C8B4;
    width: calc(100% + 80px);
    position: relative;
    left: -40px;
    padding: 25px 40px 30px;
}

.team-header .page-title span {
    opacity: 0.5;
}

.team-header {
    box-shadow: 0 -1px 15px 0 rgba(0, 0, 0, 0.14);
}

.team-header .page-title {
    margin-bottom: 25px;
}

.no-team-img {
    width: 150px;
    margin: 40px auto 20px;
}

.progress {
    position: relative;
    width: 100%;
    height: 30px;
    border-radius: 30px;
    background-color: rgba(255, 252, 250, 0.25);
}

.progress:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 100%;
    border-radius: 50px;
    background-image: linear-gradient(to right, #fffcfa, #e6e6e6);
} 

.progress:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 100%;
    border-radius: 70px;
    border: solid 2px rgba(255, 252, 250, 0.5);
    padding: 2px 4px;
    padding-right: 2px;
    top: -4px;
    left: -5px;
}

.progress.anim80:before,
.progress.anim80:after {
    width: 80%;
    animation: progress80 ease-in-out 0.6s;
}

.progress.anim60:before,
.progress.anim60:after {
    width: 60%;
    animation: progress60 ease-in-out 0.6s;
}

.progress.anim90:before,
.progress.anim90:after {
    width: 90%;
    animation: progress90 ease-in-out 0.6s;
}

.progress.anim80 .progress-legend,
.progress.anim90 .progress-legend,
.progress.anim60 .progress-legend {
    animation: fade-in ease 0.5s 0.4s;
    animation-fill-mode: forwards;  
}

.niveau-text {
    color: rgba(55, 55, 55, 0.5);
    text-align: center;
    font-weight: bold;
    font-style: italic;
    top: 2px;
}

.defi-text {
    color: #fffcfa;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    top: 2px;
}

.progress-legend {
    opacity: 0;
}

.team-star {
    position: absolute;
    right: 10px;
    top: 9px;
    width: 12px;
}

.puce {
    position: relative;
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-right: 5px;
    background-color: #e6e6e6;
    border-radius: 50%;
    overflow: hidden;
}

.puce.active {
    background: #e6a587;
}

.puce.half-puce:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: #e6a587;
}

@keyframes progress80 {
    0% {width: 30px;}
    100% {width: 80%;}
}

@keyframes progress60 {
    0% {width: 30px;}
    100% {width: 60%;}
}

@keyframes progress90 {
    0% {width: 30px;}
    100% {width: 90%;}
}

@keyframes fade-in {
    0% {opacity: 0;}
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.progress.orange {
    background-color: #e6e6e6;
}

.progress.orange:before {
    background-image: linear-gradient(to right, #f4d1bc, #e6a587);
}

.progress.orange:after {
    border-color: rgba(55, 55, 55, 0.11);
}

.text-progress {
    color: #8c8b8b;
    font-size: 14px;
}

.title-progress {
    margin-top: 40px;
    letter-spacing: 0.2px;
    font-weight: bold;
}

.separator {
    position: relative;
    left: -40px;
    height: 1px;
    width: calc(100% + 80px);
    background: #e6e6e6;
    margin-top: 35px;
}

@keyframes appear-chat {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@media screen and (max-width:640px) {
    .flex {
        flex-direction: column;
    }

    .flex-row {
        flex-direction: row;
    }

    .half {
        width: 100%;
    }

    .half + .half {
        margin-top: 30px;
    }

    .logo {
        position: static;
        display: inline-block;
        padding: 12px 0;
        width: auto;
    }

    .logo img {
        height: 38px;
        width: auto;
    }

    .application {
        z-index: 0;
        opacity: 0;
        transition: opacity ease 0.3s;
    }

    .content-page {
        padding: 0 40px calc(60px + 60px);
    }

    .padding-top-menu {
        padding-top: 65px; /* sticky menu */
    }

    .typo1 {
        font-size: 32px;
        line-height: 40px;
    }

    .typo2 {
        font-size: 16px;
        line-height: 1.69;
    }

    p + p {
        margin-top: 20px;
    }

    .button1 {
        width: 100%;
        text-align: center;
    }

    .underlink:before {
        height: 1px;
        opacity: 1;
        bottom: -1px;
    }

    .button2 {
        margin-top: 15px;
    }

    .no-mobile {
        display: none;
    }

    .actu:last-of-type {
        margin-bottom: 60px;
    }

    .content-page.home {
        padding-bottom: 60px;
    }
}

/* ONLY DESKTOP */
@media screen and (min-width:641px) {
    .no-desktop {
        display: none;
    }

    .menu {
        display: none;
    }    

    .swiper-desktop-hide {
        display: none;
    }

    .boxed-wrapper {
        width: calc(100% - 80px); 
    }

    .button2 + .button2 {
        margin-left: 20px;
    }

    .button2 {
        transition: all ease 0.3s;
    }

    .button2:hover {
        background: #e6a587;
        color: white;
    }

    .actu.green .button2:hover {
        background: #a5c8b4;
        color: white;
    }

    #loader {
        display: none;
    }

    .swiper-slide.content-page {
        height: 100vh;
    }
}