/* Reset CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time,
mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline; box-sizing: border-box;}


/* Reset pour les vieux navigateurs */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}

@font-face {
    font-family: "Gabriel";
    src: url("../webfonts/gabriel-sans-medium.ttf") format("truetype"), url("../webfonts/gabriel-sans-medium.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Gabriel";
    src: url("../webfonts/gabriel-sans-bold.ttf") format("truetype"), url("../webfonts/gabriel-sans-bold.woff") format("woff");
    font-weight: 600;
}

@font-face {
    font-family: "Gabriel";
    src: url("../webfonts/gabriel-sans-black.ttf") format("truetype"), url("../webfonts/gabriel-sans-black.woff") format("woff");
    font-weight: 800;
}

@font-face {
    font-family: "Gabriel";
    src: url("../webfonts/gabriel-sans-light.ttf") format("truetype"), url("../webfonts/gabriel-sans-light.woff") format("woff");
    font-weight: 300;
}

@font-face {
    font-family: "Karmilla";
    src: url("../webfonts/karmilla.ttf") format("truetype"), url("../webfonts/karmilla.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "Karmilla";
    src: url("../webfonts/karmilla-bold.ttf") format("truetype"), url("../webfonts/karmilla-bold.woff") format("woff");
    font-weight: bold;
}

html {
    font-size: 10px;
}

html,
body,
.full-height {
    height: 100%;
}

body {
    font-size: 1.5rem;
    font-family: 'Gabriel', Arial, sans-serif;
    background: #FFFCFA;
    color: #373737;
    overflow-x: hidden;
}

.relative {
    position: relative;
}

.z-index-2 {
    position: relative;
    z-index: 2;
}

.opac50 {
    opacity: .5;
}

.v-center,
.v-center-home {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.margin-top-10 {
    margin-top: 10px
}

.margin-top-20 {
    margin-top: 20px
}

.error {
    color: red;
}

.success {
    color: green;
}

.logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 120px;
}

.logo img {
    width: 100%;
}

.loader {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    display: block;
    border: 4px solid #E6E6E6;
    border-radius: 50%;
    border-top-color: #E6A587;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 0.8s linear infinite;
    animation: spin 0.8s linear infinite;
    background: #FFFCFA;
    z-index: 3;
    margin: auto;
    opacity: 0;
    pointer-events: none;
}

.loader.visible {
    opacity: 1;
    transition: opacity ease 0.3s;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.form-login {
    margin-top: 50px;
    padding: 40px;
}

button.button1 {
    line-height: 1;
    margin-top: 10px;
    outline: none;
    border: none;
}

.grid {
    position: fixed;
    top: 0;
    left: 20px;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 40px);
    height: 100%;
    pointer-events: none;
}

.gridline {
    width: 1px;
    height: 100%;
    background: cyan;
}

iframe {
    width: 100%;
    margin-top: 30px;
}

p+p {
    margin-top: 20px;
}

.center {
    text-align: center;
}

.page-title {
    font-weight: 300;
    font-size: 3rem;
    text-align: center;
    color: #292929;
    margin-bottom: 20px;
}

h2 {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 30px;
}

.middle {
    display: inline-block;
    vertical-align: middle;
}

.round-btn {
    display: inline-block;
    vertical-align: top;
    background: rgba(255, 252, 250, 0.25);
    border-radius: 50%;
    width: 14px;
    height: 14px;
    text-align: center;
    line-height: 12px;
    font-style: normal;
    text-decoration: none;
    color: white;
    margin-left: 4px;
}

.typo1 {
    font-family: Gabriel;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 0.1px;
    color: #373737;
    line-height: 1.12;
}

.typo2 {
    font-family: Karmilla;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.9;
    letter-spacing: 0.2px;
    color: #373737;
}

.typo2 a {
    color: #373737;
    font-weight: bold;
    text-decoration: underline;
}

.typo3 {
    font-family: Karmilla;
    font-size: 1.8rem;
    letter-spacing: 0.1px;
    font-weight: normal;
}

.typo4 {
    font-family: Gabriel;
    font-size: 32px;
    font-weight: 600;
    line-height: 0.84;
    letter-spacing: 0.2px;
    text-align: center;
    color: #fffcfa;
    margin-bottom: 35px;
}

.button1 {
    display: inline-block;
    padding: 15px 22px;
    border-radius: 10px;
    background-color: #a5c8b4;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.13);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Karmilla;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.2px;
    margin-top: 30px;
}

.button1 .arrow {
    fill: #fff;
    width: 2rem;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

.button2 {
    display: inline-block;
    padding: 15px 22px;
    border-radius: 10px;
    background-color: #fffcfa;
    color: #e6a587;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Karmilla;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.2px;
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

.underlink {
    position: relative;
    font-weight: bold;
    text-decoration: none;
    color: #373737;
}

.underlink:before {
    content: "";
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background: #373737;
    opacity: 0.15;
}

strong,
strong.typo2 {
    font-weight: bold;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.nb-box {
    display: inline-block;
    min-width: 50px;
    text-align: right;
}

.half {
    position: relative;
    width: 50%;
    font-size: 1.5rem;
}

.boxed-wrapper {
    position: relative;
    width: 100%;
    max-width: 1300px;
    margin: auto;
}

.options-label.typo2 {
    display: block;
    line-height: 1;
    font-weight: 600;
}

.options-input,
.options-textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #E6E6E6;
    background: transparent;
    margin-bottom: 25px;
    outline: none;
    font-family: 'Karmilla';
    font-size: 16px;
}

.options-textarea {
    height: 80px;
}

/* PAGE PROFIL */

.profile .avatar {
    margin: 0;
    display: inline-block;
    width: 8rem;
    height: 8rem;
    vertical-align: middle
}

.team-header.profile {
    padding: 2rem;
    color: #fffcfa
}

.profile .text {
    display: inline-block;
    width: calc(100% - 8rem);
    vertical-align: middle;
    padding-left: 2rem;
}

.profile .typo4 {
    text-align: left;
    margin-bottom: .5rem;
}

.profile .min {
    font-size: 1.6rem
}

.profile p+p {
    margin-top: 1rem
}

.js-open-chat {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #A5C8B4;
    border: none;
    color: white;
    position: fixed;
    bottom: 80px;
    right: 20px;
    transition: all ease 0.8s, font-size linear 0s 0.8s;
    outline: none;
    z-index: 10;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    display: none;
    animation: poop linear 1s 1s;
}

@keyframes poop {
    0% {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    }

    50% {
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    }

    100% {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    }
}

.js-open-chat img {
    width: 35px;
    margin-top: 5px;
    transition: opacity 0s ease 0.8s;
}

.js-open-chat.active {
    transform: scale(40);
    font-size: 0;
    background: #fffcfa;
    transition: all ease 1.6s, font-size linear 0s;
}

.js-open-chat.active img {
    opacity: 0;
    transition: none;
}

.modal-chat {
    display: none;
    z-index: 11;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 58px);
    animation: appear-chat ease 1.1s;
}

.new-chat {
    text-align: center;
    position: relative;
    margin: 30px 0 15px;
}

.new-chat:before {
    content: "";
    position: absolute;
    left: 0;
    top: 15px;
    width: 100%;
    height: 1px;
    background: #373737;
}

.new-chat span {
    display: inline-block;
    background: #FFFCFA;
    position: relative;
    padding: 0 10px;
}

.chat-messages {
    padding: 20px 20px 0;
    height: calc(100% - 100px);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.chavatar {
    width: 55px;
    border-radius: 50%;
}

.chavatar-wrapper {
    position: relative;
}

.chavatar-wrapper:before {
    content: "";
    position: absolute;
    right: 3px;
    bottom: 3px;
    width: 7px;
    height: 7px;
    background: #a5c8b4;
    border-radius: 50%;
    border: 3px solid #fffcfa;
}

.chat-wrapper {
    align-items: flex-end;
    margin-bottom: 18px;
}

.chat-wrapper.me {
    flex-direction: row-reverse;
}

.chat-wrapper.me .chat-message {
    margin-right: 14px;
    margin-left: 30px;
    border-radius: 20px 20px 0 20px;
    background: #a5c8b4;
}

.chat-wrapper.me .chat-message .typo2 {
    color: white;
}

.chat-message {
    opacity: 0;
    position: relative;
    top: 30px;
    border-radius: 20px 20px 20px 0;
    background: #e6e6e6;
    padding: 15px;
    transition: all ease 0.8s;
    width: calc(100% - 30px);
    margin-left: 14px;
    margin-right: 80px;
}

.chat-message.small {
    margin-right: 140px;
}

.team-form {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    border-top: solid 1px #e6e6e6;
}

.chat-text {
    position: absolute;
    top: 15px;
    height: calc(100% - 30px);
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    padding-top: 0;
    font-family: Karmilla;
    font-size: 16px;
    color: rgba(30, 30, 30, 1);
    letter-spacing: 0.2px;
    background: #fffcfa;
    border: none;
    line-height: 2.5rem;
    outline: none;
}

.send-message {
    position: absolute;
    right: 10px;
    top: 15px;
    z-index: 999;
    outline: none;
    background: none;
    padding: 0;
    border: none;
}

.send-message img {
    width: 55px;
}

.chat-message.visible {
    opacity: 1;
    top: 0;
    transition: all ease 0.7s;
}

.js-open-chat.active+.modal-chat {
    display: block;
}

.chat-close {
    position: absolute;
    right: 16px;
    top: 20px;
    background: none;
    border: none;
    border-radius: 5px;
    line-height: 25px;
    font-weight: bold;
    z-index: 999;
    width: 50px;
    height: 50px;
}

.chat-close svg.close.svg {
    height: 20px;
    fill: #a5c8b4;
}

.remove-padding {
    position: relative;
    left: -40px;
    width: calc(100% + 80px);
    font-size: 0;
    z-index: -1;
}

.pattern {
    position: absolute;
}

.profile-form>div {
    position: relative;
    width: calc(100% + 8rem);
    left: -4rem;
    padding: 4rem
}

.no-margin {
    margin-bottom: 0
}

.profile-form .half {
    width: 50%;
    display: inline-block;
}

.profile-form .half:nth-of-type(2n) {
    padding-left: 1rem;
}

.profile-form .half:nth-of-type(2n+1) {
    padding-right: 1rem;
}

form .dark {
    background-color: rgba(230, 230, 230, 0.3);
}

.avatar {
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: -75px auto 20px;
    z-index: 2;
}

.edit-profile {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 1.8rem;
    border: none;
    z-index: 2;
    height: 6rem;
    width: 6rem;
    background:#c1d9c9;
    border-radius: 1rem 0 0 1rem;
    cursor: pointer
}

.edit-profile-sticky {
    position: fixed;
    top: 30px;
    transform: none;
}

.edit-profile .svg {
    fill: #fffcfa
}

.content-page {
    padding-top: 74px;
    /* sticky menu */
}

/* TEAM  */

.team-header {
    background: #A5C8B4;
    background-size: cover;
    width: calc(100% + 80px);
    position: relative;
    left: -40px;
    padding: 25px 40px 30px;
}

.team-header .page-title span {
    opacity: 0.5;
}

.team-header {
    box-shadow: 0 -1px 15px 0 rgba(0, 0, 0, 0.14);
}

.team-header .page-title {
    margin-bottom: 25px;
}

.no-team-img {
    width: 150px;
    margin: 40px auto 20px;
}

.progress {
    position: relative;
    width: 100%;
    height: 30px;
    border-radius: 30px;
    background-color: rgba(255, 252, 250, 0.25);
}

.progress:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 100%;
    border-radius: 50px;
    background-image: linear-gradient(to right, #fffcfa, #e6e6e6);
}

.progress:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 100%;
    border-radius: 70px;
    border: solid 2px rgba(255, 252, 250, 0.5);
    padding: 2px 4px;
    padding-right: 2px;
    top: -4px;
    left: -5px;
}

.progress.anim80:before,
.progress.anim80:after {
    width: 80%;
    animation: progress80 ease-in-out 0.6s;
}

.progress.anim60:before,
.progress.anim60:after {
    width: 60%;
    animation: progress60 ease-in-out 0.6s;
}

.progress.anim90:before,
.progress.anim90:after {
    width: 90%;
    animation: progress90 ease-in-out 0.6s;
}

.progress.anim30:before,
.progress.anim30:after {
    width: 30%;
    animation: progress30 ease-in-out 0.6s;
}

.progress.anim80 .progress-legend,
.progress.anim90 .progress-legend,
.progress.anim30 .progress-legend,
.progress.anim60 .progress-legend {
    animation: fade-in ease 0.5s 0.4s;
    animation-fill-mode: forwards;
}

.niveau-text {
    color: rgba(55, 55, 55, 0.5);
    text-align: center;
    font-weight: bold;
    font-style: italic;
    top: 2px;
}

.defi-text {
    color: #fffcfa;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    top: 2px;
}

.progress-legend {
    opacity: 0;
}

.team-star {
    position: absolute;
    right: 10px;
    top: 9px;
    width: 12px;
}

.puce {
    position: relative;
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-right: 5px;
    background-color: #e6e6e6;
    border-radius: 50%;
    overflow: hidden;
}

.puce.active {
    background: #e6a587;
}

.green .puce.active,
.green .puce.half-puce:before {
    background: #a5c8b4;
}

.puce.half-puce:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: #e6a587;
}

/* PARTENAIRES */

.header-gift img {
    width: 100px;
}

.header-gift img.x-gift {
    display: block;
    filter: invert(1);
    width: 10px;
    margin: 2px auto 15px;
}

.header-gift img.logo-gift-paaper {
    width: 127px;
    margin-top: -5px;
    margin-left: 6px;
}

.superboite {
    width: 100%;
    margin-top: 40px;
}

.video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: #000000;
}

/* TIMELINE / BOX */

.timeline-month {
    margin-top: -30px;
    border-radius: 10px;
    background: #fffcfa;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
}

.timeline-month .typo1 {
    margin-top: 0;
}

.timeline-month .button1 {
    margin-top: 20px;
}

.event .typo2 {
    margin-top: 5px;
}

.event .italic {
    font-style: italic;
    color: rgba(55, 55, 55, 0.4);
}

.event-icon {
    position: relative;
    display: inline-block;
    width: 25px;
    margin-right: 18px;
    margin-top: 5px;
}

.event-icon img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.event {
    position: relative;
    margin-top: 35px;
    left: -20px;
    width: calc(100% + 20px);
}

.timeline-validate {
    opacity: 0;
}

.event-2,
.event-3 {
    opacity: 0.4;
}

.timeline.step2 .event-1,
.timeline.step2 .event-1 .timeline-validate,
.timeline.step2 .event-2,
.timeline.step3 .event-1,
.timeline.step3 .event-1 .timeline-validate,
.timeline.step3 .event-2,
.timeline.step3 .event-2 .timeline-validate,
.timeline.step3 .event-3 {
    opacity: 1;
    transition: opacity ease 0.3s;
}

.timeline.step2 .event-1,
.timeline.step3 .event-1,
.timeline.step3 .event-2 {
    opacity: 0.4;
}

.timeline.step2 .event-1:after,
.timeline.step3 .event-1:after,
.timeline.step3 .event-2:after {
    height: calc(100% - 30px);
    transition: height ease-in-out 0.8s;
}

.timeline.step1 .event-4,
.timeline.step2 .event-4 {
    background: #373737;
    opacity: 0.2;
}

.timeline.step2 .this-month,
.timeline.step3 .this-month {
    box-shadow: inset 0 2px 6px 0 rgba(0, 0, 0, 0.3);
}

.event:before,
.event:after {
    content: "";
    position: absolute;
    top: 50px;
    left: 12px;
    height: calc(100% - 30px);
    width: 1px;
    background: #e6e6e6;
}

.event:after {
    background: #A5C8B4;
    height: 0;
}

.maboite {
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    font-size: 0;
}

.time-wrapper {
    width: 100%;
    flex: 1;
    margin-top: 40px;
    margin-bottom: 20px;
}

.typo2.time-legend {
    font-size: 14px
}

.time-wrapper+.time-wrapper {
    margin-left: 13px;
}

.jours,
.heures,
.minutes,
.secondes {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 20px 0;
    border-radius: 5px;
}

.maboite .button2 {
    margin-top: 0;
}

.maboite img {
    width: 100%;
}

.flex-1 {
    flex: 1;
}

@keyframes progress80 {
    0% {
        width: 30px;
    }
    100% {
        width: 80%;
    }
}

@keyframes progress60 {
    0% {
        width: 30px;
    }
    100% {
        width: 60%;
    }
}

@keyframes progress90 {
    0% {
        width: 30px;
    }
    100% {
        width: 90%;
    }
}

@keyframes progress30 {
    0% {
        width: 30px;
    }
    100% {
        width: 30%;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.progress.orange {
    background-color: #e6e6e6;
}

.progress.orange:before {
    background-image: linear-gradient(to right, #f4d1bc, #e6a587);
}

.progress.green:before {
    background-image: linear-gradient(to right, #cae4d5, #a5c8b4);
    ;
}

.progress.orange:after,
.progress.green:after {
    border-color: rgba(55, 55, 55, 0.11);
}

.text-progress {
    color: #8c8b8b;
    font-size: 14px;
}

.title-progress {
    margin-top: 40px;
    letter-spacing: 0.2px;
    font-weight: bold;
}

.separator {
    position: relative;
    left: -40px;
    height: 1px;
    width: calc(100% + 80px);
    background: #e6e6e6;
    margin-top: 35px;
}

.list-teams .typo1 {
    font-family: Karmilla;
    font-size: 24px;
}

.list-teams.home-pattern {
    padding-top: 40px;
    padding-bottom: 10px;
    margin-top: 30px;
}

@keyframes appear-chat {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width:640px) {
    .flex {
        flex-direction: column;
    }
    .flex-row {
        flex-direction: row;
    }
    .half {
        width: 100%;
    }
    .half+.half {
        margin-top: 30px;
    }
    .logo {
        position: static;
        display: inline-block;
        padding: 12px 0;
        width: auto;
        transform: translate(0)
    }
    .logo img {
        height: 38px;
        width: auto;
    }
    .application {
        z-index: 0;
        opacity: 0;
        transition: opacity ease 0.3s;
        overflow-x: hidden;
    }
    .content-page {
        padding: 0 40px calc(60px + 60px);
    }
    .padding-top-menu {
        padding-top: 65px;
        /* sticky menu */
    }
    .typo1 {
        font-size: 32px;
        line-height: 40px;
    }
    .typo2 {
        font-size: 16px;
        line-height: 1.69;
    }
    p+p {
        margin-top: 20px;
    }
    .button1 {
        width: 100%;
        text-align: center;
    }
    .underlink:before {
        height: 1px;
        opacity: 1;
        bottom: -1px;
    }
    .button2 {
        margin-top: 15px;
    }
    .no-mobile {
        display: none;
    }
    .actu:last-of-type {
        margin-bottom: 60px;
    }
    .content-page.no-padding-bottom {
        padding-bottom: 60px;
    }
    .loader {
        position: fixed;
    }
    .button1 {
        font-size: 16px;
        padding: 20px 15px;
    }
    .button1 .arrow {
        margin-left: 5px;
        width: 1.8rem;
    }
    .button2 {
        font-size: 16px;
        padding: 15px 15px;
    }
    .button1+.button1 {
        margin-top: 20px;
    }
}

/* ONLY DESKTOP */

@media screen and (min-width:641px) {

    .pattern {
        width: 100%;
        height: 100%;
    }

    .no-desktop {
        display: none;
    }
    .menu {
        display: none;
    }
    .swiper-desktop-hide {
        display: none;
    }
    .boxed-wrapper {
        width: calc(100% - 80px);
    }
    .button2+.button2 {
        margin-left: 20px;
    }
    .button2 {
        transition: all ease 0.3s;
    }
    .button2:hover {
        background: #e6a587;
        color: white;
    }
    .actu.green .button2:hover {
        background: #a5c8b4;
        color: white;
    }
    #loader {
        display: none;
    }
    .swiper-slide.content-page {
        height: 100vh;
    }

    .application:not(.home) {
        max-width: 800px;
    }
}
