.swiper-container {
    width: 100%;
}

.swiper-slide {
    width: 100%;
    height: auto;
    font-size: 18px;
}



/* TEAM */
.swiper-container-team {
    height: 100%;
    /* width: calc(100% + 40px); */
    margin: auto;
    overflow: hidden;
}

.swiper-container-team .swiper-slide {
    text-align: center;
}

.swiper-container-team .swiper-slide a {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
}

.swiper-container-team .swiper-slide a img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 -1px 15px 0 rgba(0, 0, 0, 0.14);
}

.swiper-button-prev,
.swiper-button-next {
    width: 10px;
    height: 16px;
    margin-top: -8px;
    background-size: 100%;
}

.swiper-button-prev {
    left: -20px;
}

.swiper-button-next {
    right: -20px;
}